.footer {
  background-repeat: no-repeat;
  background-size: 100%;
  height: 70vh;
}
@media (max-width: 425px) { 
    .banner{
        height: 100vh;
    }
 }

@media (min-width: 426px) and (max-width: 768px) { 
    .banner{
        height: 100vh;
    }
 }
